{% extends "base.html" %}
{% load project_extras %}
{% block title %}Kim Strudwick = {{ project.title }} ({{project.date|date:"Y"}}){% endblock %}



{% block lead_text_header %}

{% endblock %}

{% block lead_text %}
<h1>{{ project.title}}</h1>
<small class="text-muted medium-description">{{ project.medium}} ({{project.date|date:"Y"}})</small>

{{ project.description|show_markdown|safe}}
{% endblock %}


{% block content %}

{% for project_video in project.videos.all %}

<div class="card mb-3"">
    <div class=" row no-gutters">
    <div class="col-md-8 embed-responsive embed-responsive-16by9 img-fluid" style=" width:1200px">

        <iframe class="embed-responsive-item " src="https://player.vimeo.com/video/{{ project_video.vimeo_id }}"
            allow="autoplay; fullscreen" allowfullscreen></iframe>


    </div>
    <div class="col-md-4">
        <div class="card-body">
            <h5 class="card-title">{{ project_video.title}}</h5>
            <p class="card-text">{{ project_video.description|show_markdown|safe}}</p>
            <p class="card-text"><small class="text-muted">from {{project_video.project.title}}
                    ({{ project_video.project.date|date:"Y" }})</small></p>
        </div>
    </div>
</div>
</div>
<br>
{% endfor %}


{% for project_image in project.images.all %}

<div class="card mb-3"">
    <div class=" row no-gutters">
    <div class="col-md-8">
        <img src="{{ project_image.upload.url }}" class="img-fluid card-img-top" alt="{{ project_image.title }}">
    </div>
    <div class="col-md-4">
        <div class="card-body">
            <h5 class="card-title">{{ project_image.title}}</h5>
            <p class="card-text">{{ project_image.description|show_markdown|safe}}</p>
            <p class="card-text"><small class="text-muted">from {{project_image.project.title}}
                    ({{ project_image.project.date|date:"Y" }})</small></p>
        </div>
    </div>
</div>
</div>



<br>
{% endfor %}

{% endblock %}
