{% extends "base.html" %}
{% load project_extras %}
{% block title %}Kim Strudwick{% endblock %}

{% block lead_text %}
{{ homepage_text|show_markdown|safe }}
{% endblock %}
{% block content %}

{% for project in projects %}

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">{{ project.title}}</h5>
                <p class="card-text text-muted medium-description">{{ project.medium}} ({{project.date|date:"Y"}})
                </p>
                <p class="card-text">{{ project.description|show_markdown|safe}}</p>
                <p class="card-text"><small class="text-muted"><a href="{{ project.get_absolute_url }}"
                            class="stretched-link">Read more...</a></small>
                </p>


            </div>
        </div>
        <div class="col-md-8"><a href="{{ project.get_absolute_url }}" class="stretched-link">
                <img src="{{ project.images.first.upload.url }}" class="card-img-top img-fluid"
                    alt="{{ project.images.first.title }}"></a>
        </div>
    </div>

</div>



<br>
{% endfor %}

{% endblock %}
