{% extends "base.html" %}
{% load project_extras %}
{% block title %}Kim Strudwick{% endblock %}



{% block lead_text_header %}
Kim Strudwick
{% endblock %}

{% block lead_text %}
<p>Working with photography and film, I am currently exploring narratives about
    women. My practice is socially engaged and aims to encourage collective participation. I am
    interested in how invisible forces have power over our lives through images, cultural practices,
    and language; and within this context, how social change happens.</p>
<p>

    Critics such as Claire Bishop have helped to situate my work and Helena Reckitt made me aware of
    the need to include participants as collaborators in making the work. She quotes Andrea
    Fraser,“The institution is us. Every time we speak of the institution as other than us we
    disavow our role in the creation and perpetuation of its conditions.” (Reckitt, 2013, p146)
    I did my undergraduate degree at UAL in Graphic Design and worked for many years designing
    websites for charities before doing an MA in Fine Art At Bath Spa. </p>
{% endblock %}
{% block content %}

{% for project in projects %}

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">{{ project.title}}</h5>
                <p class="card-text text-muted medium-description">{{ project.medium}} ({{project.date|date:"Y"}})
                </p>
                <p class="card-text">{{ project.description|show_markdown|safe}}</p>
                <p class="card-text"><small class="text-muted"><a href="{{ project.get_absolute_url }}"
                            class="stretched-link">Read more...</a></small>
                </p>


            </div>
        </div>
        <div class="col-md-8"><a href="{{ project.get_absolute_url }}" class="stretched-link">
                <img src="{{ project.images.first.upload.url }}" class="card-img-top"
                    alt="{{ project.images.first.title }}"></a>
        </div>
    </div>

</div>



<br>
{% endfor %}

{% endblock %}
